<% content_for :title do %>About<% end %>
<h3>About ConjURL</h3>
<p>
Thanks for using ConjURL. This web application was painstakinlgy crafted for your URL
shortening enjoyment. We hope you love it!
</p>
<p>
This web application was created with
<%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
</p>
